{% extends 'layout.html' %}

{% block body %}

<!-- START THE FEATURETTES -->
<h1>
    <b>About the research team</b>
</h1>
<div class="row featurette">
    <div class="col-md-7">
        <h4 class="featurette-heading"><a href="http://www.henryburtonjr.com/">Henry Burton S.E., Ph.D.</a></h4>
        <p class="lead">is an Assistant Professor and the Englekirk Presidential Endowed Chair in Structural Engineering in the Department of Civil and Environmental Engineering at the University of California, Los Angeles (UCLA). His research areas are performance-based earthquake engineering, structural reliability and community resilience. Prior to obtaining his PhD in Civil and Environmental Engineering at Stanford University, he spent six years in practice at Degenkolb Engineers, where he worked on numerous projects involving design of new buildings and seismic evaluation and retrofit of existing buildings. He is a recipient of the National Science Foundation Next Generation of Disaster Researchers Fellowship (2014) and the National Science Foundation CAREER Award (2016).
                Prof.Henry Burton</a> and , Ph.D. candidate <a href="http://hansun2014.bol.ucla.edu/index.html">Han Sun</a> and Yu Zhang from UCLA CEE.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" src="/static/images/burton_h.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h4 class="featurette-heading"><a href="http://nees.ucla.edu/wallace/">John Wallace P.E., Ph.D.,</a></h4>
        <p class="lead">professor of civil and environmental engineering at the UCLA Henry Samueli School of Engineering and Applied Science, is an expert in earthquake engineering, with an emphasis on the performance and behavior of reinforced concrete structures. The primary objective of his research is to improve our understanding of buildings and bridge behavior in strong earthquakes so that comprehensive evaluation and design recommendations are available to structural engineers. Wallace’s research has practical application in seismic evaluations of buildings and in seismic retrofitting.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-circle" src="/static/images/wallace_j.jpg" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h4 class="featurette-heading">Han Sun</h4>
        <p class="lead">is a recent PhD and MS graduate from the Civil and Environmental Engineering and Statistics Departments, respectively, at UCLA. He received a Bachelor’s degree in Civil Engineering from the Hong Kong Polytechnic University and a Master of Science in Civil Engineering from the University of Michigan Ann Arbor. He currently works as a Research Engineer at Oath (A Verizon Company).</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-circle" src="/static/images/sun_h.jpg" alt="Generic placeholder image">
    </div>
</div>


<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h4 class="featurette-heading">Yu Zhang</h4>
        <p class="lead">is also recent PhD and MS graduate from the Civil and Environmental Engineering and Statistics Departments, respectively, at UCLA. He received a Bachelor’s in Civil Engineering and a Master of Science in Mechanics from Tongji University. He currently works as a Senior Data Scientist at Zest Finance.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-circle" src="/static/images/zhang_y.jpg" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
        <div class="col-md-7">
            <h4 class="featurette-heading">Allison Griffiths</h4>
            <p class="lead">received her Bachelor’s degree in Civil Engineering from the University of Notre Dame in 2016.  She went on to earn a Master of Science in Civil and Environmental Engineering from UCLA in 2019.  After completing the program at UCLA, she joined Workpoint Engineering in Santa Monica, California.
                </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive img-circle" src="/static/images/Allison Griffiths.jpg" alt="Generic placeholder image">
        </div>
    </div>
    
    
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h4 class="featurette-heading">Laxman Dahal</h4>
            <p class="lead">received his Bachelor’s degree from Howard University in Civil Engineering in 2019. He worked as a student researcher in the UCLA Department of Civil and Environmental Engineering during the summers of 2017 and 2018. In the Fall of 2019, he will be starting the PhD program in Structural/Earthquake Engineering at UCLA.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive img-circle" src="/static/images/Laxman Dahal.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <div class="row featurette">
            <div class="col-md-7">
                <h4 class="featurette-heading">Kofi Afriyie</h4>
                <p class="lead">received his Bachelor’s degree in Civil Engineering from Morgan State University in 2017. He worked as a student researcher in the UCLA Department of Civil and Environmental Engineering during the summer of 2016. He currently works as a Project Engineer for Balfour Beatty.
                    </p>
            </div>
            <div class="col-md-7">
                    <img class="featurette-image img-responsive img-circle" src="/static/images/Kofi Afriyie.jpg" alt="Generic placeholder image">
                </div>
            <br>

        </div>
        
        
      <!-- /END THE FEATURETTES -->

{% endblock %}

